@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

$family-sans-serif: 'Roboto', sans-serif;
$family-monospace: 'Roboto Mono', monospace;
$primary: #c2185b;
$dark: #616161;

@import "../node_modules/bulma/bulma";

html {
  overflow-y: auto;
}

.hero.is-dark .title {
  @extend .is-1;
  @extend .is-spaced;
  @extend .has-text-centered;
  font-weight: 100;
  font-family: $family-monospace;
}

.hero.is-dark .buttons {
  @extend .is-centered;
}

.hero.is-dark .hero-foot {
  @extend .has-text-centered;
  padding: 1.5rem 0;
}
